
.main {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100vw;
    max-width: 1200px;
}

.main_title {
    font-size: 36px;
    line-height: 1.25;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

.main_title::after {
    content: '.';
    color:  red;
}

.main__info {
    flex-basis: 55%;
}

.categoty {
    text-transform: uppercase;
    color: lightslategray;
}

.info {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px 0;
}

.info__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo {
    flex-basis: 45%;
    padding: 20px;
}

.photo > img {
    width: 100%;
    height: 100%;
}

.social__media {
    display: flex;
    justify-content: space-between;
}

.contact_me_button {
    color: #fff;
    margin-right: 15px;
    min-width: 170px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    display: inline-block;
    background-color: red;
    border: none;
    border-radius: 2px;
}

.download_button {
    color: #252525;
    background-color: #e3e3e3;
    text-transform: uppercase;
    min-width: 170px;
    text-align: center;
    padding: 15px;
    display: inline-block;
    border: none;
    border-radius: 2px;
}

.github, .linkedin {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

ul { 
    margin: 0;
}

a {
    color: black;
}