body {
  width: 100%;
  max-width: 1300px;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  width: 100vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
    line-height: 1.56;
    font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
